.footer {
    background: $light-pink;
    padding: 60px 0;
    @include tablet-down {
        padding: 40px 0 20px;
    }
    .row-wrap {
        @include row;
        margin: 0 -15px;
        .col {
            padding: 0 15px;
            @include column(25%);
            @include tablet-down {
                @include column(50%);
                margin-bottom: 30px;
            }
            @include phablet-down {
                @include column(100%);
            }
            h4 {
                margin-bottom: 25px;
                a {
                    font-weight: 700;
                    @include desktop-down {
                        font-size: 18px;
                    }
                    &:hover {
                        color: $purple;
                    }
                }
            }
            h5 {
                margin-bottom: 25px;
            }
            p {
                font-size: 14px; 
            }
            .content-wrap {
                max-width: 350px;
                p {
                    font-size: 14px;
                    margin-bottom: 20px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            .links {
                li {
                    margin-bottom: 5px;
                    a {
                        font-size: 14px;
                    }
                }
            }
            .social-links {
                li {
                    display: inline-block;
                    margin-right: 25px;
                    img {
                        height: 20px;
                    }
                }
            }
            .subscribe-form {
                margin-bottom: 25px;
                @include desktop-down {
                    margin-bottom: 15px;
                }
                .field-group {
                    input {
                        font-size: 12px;
                        border: none;
                        outline: none;
                        padding: 8px 12px;
                        margin: 0 5px 10px 0;
                    }
                    .btn-submit {
                        border-radius: 5px;
                        padding: 7px 20px;
                        font-size: 12px;
                    }
                }
            }
            &.col-info {
                &:first-child {
                    padding-left: 100px;
                }
                p {
                    margin-bottom: 10px;
                }
            }
            &.col-links {
                padding-left: 100px;
                @include container-down {
                    padding-left: 60px;
                }
                @include tablet-down {
                    padding-left: 15px;
                }
            }
        }
    }
}